* {
    -main-background-color: linear-gradient(to top left, #ff663c, #ffbd11);
    -black: #000;
    -white: #fff;
    -main-font-family: "Arial";
    -btn-hover: #5e5c5c;
}

.top-form {
    -fx-background-color: -white;
    -fx-border-color: -black;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form {
    -fx-background-color: #efefef;
    -fx-border-color: -black;
    -fx-border-width: .2px .4px .4px .4px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #f43f57;
}

.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.minimize:hover {
    -fx-background-color: #ddd;
}

.nav-form {
    -fx-background-color: linear-gradient(to top left, #ff663c, #ffbd11);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
    -fx-font-size: 15px;
    -fx-text-fill: -black;
    -fx-alignment: CENTER-LEFT;
}

.logout {
    -fx-background-color: -black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.logout:hover {
    -fx-background-color: -btn-hover;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5,0,0,0);
}

.white-background {
    -fx-background-color: -white;
    -fx-background-radius: 6px;
}

.card {
    -fx-background-color: linear-gradient(to left, #ff663c, #ffbd11);
    -fx-background-radius: 5px;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.textfield:focused {
    -fx-background-color: -white;
    -fx-border-width: 2px;
    -fx-border-width: 0.5px;
    -fx-border-color: -black;
}

.import-btn {
    -fx-background-color: #eee;
    -fx-text-fill: -black;
    -fx-font-size: 13px;
    -fx-font-family: -main-font-family;
    -fx-cursor: hand;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px
}

.import-btn:hover {
    -fx-border-width: 0.5px;
    -fx-border-color: -black;
    -fx-background-color: #969590;
}

.add-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.add-btn:hover {
    -fx-background-color: -btn-hover;
}

.update-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.update-btn:hover {
    -fx-background-color: -btn-hover;
}

.clear-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.clear-btn:hover {
    -fx-background-color: -btn-hover;
}

.delete-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.delete-btn:hover {
    -fx-background-color: -btn-hover;
}

.search {
    -fx-background-color: transparent;
    -fx-border-color: -black;
    -fx-font-size: 14px;
    -fx-font-family: "Tahoma";
    -fx-border-width: 0.4px;
    -fx-padding: 0px 0px 0px 28px;
    -fx-border-radius: 5px;
}

.search:focused {
    -fx-border-width: 1.5px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: #efefef;
    -fx-border-radius: 6px;
    -fx-border-width: 1px;
}

.table-view .column-header-background {
    -fx-background-color: #ff663c;
    -fx-background-radius: 6px 6px 0px 0px;
}

.table-view .column-header, .filter {
     -fx-background-color: transparent;
     -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: -white;
    -fx-font-family: -main-font-family;
}

.pay-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.pay-btn:hover {
    -fx-background-color: -btn-hover;
}

.receipt-btn {
    -fx-background-color: -black;
    -fx-background-radius: 8px;
    -fx-text-fill: -white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-font-family: -main-font-family;
}

.receipt-btn:hover {
    -fx-background-color: -btn-hover;
}