* {
    -main-background-color: linear-gradient(to top left, #ff663c, #ffbd11);
    -black: #000;
    -white: #fff;
    -orange: #fd7134;
}

.left-form {
    -fx-background-color: -main-background-color;
    -fx-border-color: -black;
    -fx-border-width: .4px 0px .4px .4px;
}

.right-form {
    -fx-background-color: -white;
    -fx-border-color: -black;
    -fx-border-width: .4px .4px .4px 0px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #f43f57;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: -black;
    -fx-border-radius: 4px;
    -fx-border-width: .4px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}
.textfield:focused {
    -fx-background-color: -white;
    -fx-border-color: -black;
    -fx-border-width: .8px;
}

.login-btn {
    -fx-background-color: -orange;
    -fx-background-radius: 12px;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: #ffbd11;
}